.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 50px;
  height: 40px;
}
.buttons:hover {
  background-color: blue;
  opacity: 0.8;
  cursor: pointer;
}
.smallbtn {
  width: 75px;
}
.mediumbtn {
  width: 100px;
}
.enter {
  width: 119px;
}
.space {
  width: 300px;
}
.left-shift {
  width: 134px;
}
.capslock {
  width: 90px;
}
.upenter {
  width: 80px;
}
.backspace {
  width: 105px;
}
.light {
  background-color: #636060;
}
.dark {
  background-color: #363535;
}
.esc{
  background: orangered;
}